# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.ipynb_checkpoints

# Build artifacts
dist/
build/
.next/
out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.prod
.env.*

# IDEs
.idea/
.vscode/
*.swp

# AI
mcp.json

# Secrets
*.pem
